html, body{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.loginarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.logo_img{
    width: 250px;
    height: auto;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    margin-top: 10px;
    border: 0;
    border-bottom: 1px solid #000;
    text-align: center;
}
.form_input_submit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    margin-top: 15px;
    border: 1px solid #000;
}
.form_input_submit:hover{
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: 1px solid rgb(197, 197, 197);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-image:linear-gradient(to right,rgb(177, 177, 177), #FFF);
}
.logo_img_2{
    width: 250px;
    height: auto;
}
.content-area{
    display: flex;
    height: 100%;
}
.left-panel{
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(177, 177, 177), #C1C1C1);
}
.right-panel{
    width: 100%;
    padding: 10px;
}
.menu-area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-area li{
    font-size: 14px;
    line-height: 50px;
    padding-left: 10px;
}
.menu-area li a{
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: #000;
}
.menu-area li:hover{
    background-image: linear-gradient(rgb(145, 144, 144), rgb(201, 201, 201)) ;
}
.users-table{
    border-collapse: collapse;
    width: 100%;
}
.users-table td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.new-user-button{
    width: 89px;
    height: 20px;
    background-color: rgb(177, 177, 177);
    margin-top: 10px;
    float: right;
    font-size: 13px;
    text-align: center;
}
.new-user-form input{
    width: 300px;
    margin-top: 10px;;
}
.new-user-form select{
    width: 300px;
}
.new-schedule-button{
    width: 89px;
    height: 40px;
    background-color: rgb(177, 177, 177);
    margin-top: 10px;
    float: right;
    font-size: 13px;
    text-align: center; 
}